@model HRM.Data.ViewModels.EmployeeVM;

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/js/employee.js"></script>
}

<h1>Danh sách phòng ban</h1>

<form asp-action="Index" class="d-flex justify-content-between align-item-center">
    <div class="col-5 mr-2">
        <label for="DepartmentId">Phòng ban</label>
        <select name="DepartmentId" id="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentName">
            <option value="">-- Chọn phòng ban --</option>
            @if (ViewBag.SelectedDepart != null)
            {
                <option value="@ViewBag.SelectedDepart.DepartmentId" selected>
                    @ViewBag.SelectedDepart.Name
                </option>
            }
        </select>
    </div>
    <div class="col-5 mx-2">
        <label for="Name">Tên nhân viên</label>
        <input type="text" name="Name" class="form-control" placeholder="Nhập tên nhân viên"
               value="@(ViewBag.EmployeeName != null ? ViewBag.EmployeeName : "")" />
    </div>
    <div class="col-auto mx-2 mt-5">
        <button type="submit" class="btn btn-info">Tìm kiếm</button>
    </div>
    <div class="col-auto ml-2 mt-5">
        <button type="submit" class="btn btn-secondary" onclick="resetLoad()">Tải lại</button>
    </div>
</form>

<button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#addOrEditModal" onclick(Employee.openAddOrEditModal())>Thêm mới</button>

<table class="table table-bordered mt-3">
    <thead>
        <tr class="table-secondary text-center">
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Phòng ban</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Quê quán</th>
            <th scope="col">CCCD</th>
            <th scope="col">Người tạo</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@Html.DisplayFor(modalItem => item.Code)</td>
                <td>@Html.DisplayFor(modalItem => item.Name)</td>
                <td>@Model.Departments.FirstOrDefault(x => x.Id == item.DepartmentId)?.Name</td>
                <td>@Model.Positions.FirstOrDefault(x => x.Id == item.PositionId)?.Name</td>
                <td>@Html.DisplayFor(modalItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modalItem => item.Gender)</td>
                <td>@Html.DisplayFor(modalItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modalItem => item.Email)</td>
                <td>@Html.DisplayFor(modalItem => item.Address)</td>
                <td>@Html.DisplayFor(modalItem => item.Identifier)</td>
                <td>@Html.DisplayFor(modalItem => item.CreateBy)</td>
                <td>@Html.DisplayFor(modalItem => item.CreateAt)</td>
                <td class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary"
                            onclick="Employee.openAddOrEditModal(@item.Id)"
                            data-toggle="modal"
                            data-target="#addOrEditModal">
                        Chỉnh sửa
                    </button>
                    <button type="button" class="btn btn-danger mx-2"
                            onclick="Employee.openDeleteModal(@item.Id);"
                            data-toggle="modal"
                            data-target="#deleteModal">
                        Xóa
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    await Html.RenderPartialAsync("AddOrEdit", Model);
    await Html.RenderPartialAsync("Delete", Model.Employee);
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    function resetLoad() {
        document.querySelector('input[name="Name"]').value = "";
        var departmentSelect = document.getElementById("DepartmentId");
        departmentSelect.selectedIndex = 0;
        location.reload();
    }
</script>